<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="components/social/GooglePlusBadge"
    params="title,href">
    
    <div class="google-badge">
        <nobr>
            Follow +$title on
            <a href="$href" rel="publisher" style="text-decoration:none;">
                <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:28px;height:28px;"/>
            </a>
        </nobr>
    </div>
    
</c:template>