<c:template xmlns:c="core" params="active">

    <div class="{?active;tab-active}">
        Hello World!
    </div>
    
    <div class="{?active !== true;tab-inactive}">
        Hello World!
    </div>
</c:template>