<c:template xmlns:c="core" params="active,names">

    <div>
        <c:attr name="class" value="test-class"/>
        <c:attr name="title">
            <c:for each="name in names"> Hello $name! </c:for>
        </c:attr>
        
        Hello World!
    </div>
    
    
</c:template>