<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    xmlns:docs="docs"
    params="heading,disqusId">

    <docs:section heading="Discussion">
        <docs:disqus id="$disqusId" title="$heading" short-name="raptor-js"/>
    </docs:section>

</c:template>